*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFFAF5;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;   
}

img{
    max-width: 100%;
    display: block;
}

